name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    name: Integration Tests
    steps:
      - uses: actions/checkout@v3
      - name: Install requirements for xmlsec
        run: |
           sudo apt install -y pkg-config libxml2-dev libxmlsec1-dev libxmlsec1-openssl libpython3-dev gcc
      - name: Install tox
        run: python3 -m pip install tox
      - name: Run integration tests
        run: |
          tox -e integration